<div class="dashboard-header">
  <h2>Your Backer Hub</h2>

<div class="card" style="width=100%">
  <div class="card-body" >
        <%= image_tag current_user.image.url, class:'', size:"100x100" %>
  </div>

  <div class="card-body">
    <h5 class="card-title">test</h5>
    <p class="card-text">test</p>
  </div>

  <div class="">
    <h5 class="card-title">Connect to a new Dater</h5>
    <%= render 'add_dater' %>
  </div>
  <div class="">
    <h5 class="card-title">Your Daters</h5>
  </div>

<% current_backer.daters.each do |dater| %>
<button id="dater-button" class="primary-btn btn-sm card-button"><span> <%= dater.f_name %> </span></button>
<div class="card-deck-none" id="dater-mgmt">
<div class="card text-center">
    <div class="card-header">
      You got <%= dater.f_name %>'s Back:
    </div>

    <div class="card-body item-center">
      <h5 class="card-title"><%= current_dater.f_name %></h5>
      <div class="item-center" ><%= image_tag current_user.image.url, class:'', size:"100x100" %></div>
    </div>

    <div class="card-group ">
      <div class="card ">
        <div class="card-body">
          <p class="card-text"> <a href="#" class="primary-btn btn-sm login-button"> ___% Complete </a> </p>
          <p class="card-text"><a href="#" class="primary-btn btn-sm login-button">Edit my Responses </a></p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
        <p class="card-text"><a href="#" class="primary-btn btn-sm login-button">See <%= dater.f_name %>'s Pool  </a></p>
         <p class="card-text"><a href="#" class="primary-btn btn-sm login-button">Add to <%= dater.f_name %>'s Pool </a></p>
        </div>
      </div>
    </div>

    <div class="card-footer text-muted"><br></div>
</div>
</div>
<% end %>


  <div class="card-body">
    <div class = 'pyt-signup-outer'> also also test </div>
  </div>


</div>


<script>

$("#dater-button").click(function() {
  event.preventDefault()
  $("#dater-mgmt").toggleClass("card-deck")
})

</script>
