<div class="dashboard-header">
  <h2> <%= @dater.f_name %>'s Pool</h2>

  <% if @matches.count == 0 %>
  <div class="alert alert-warning" role="alert">
    Hmmm...Seems a bit lonely in here. Go check out all the daters!
  </div>
  <% else %>


  <div class="card-columns">
      <% @matches.each do |each| %>
      <% match = Dater.find(each.match_id) %>
      <div class="card" id="horiz-card-outer">
        <div class="card-body">
          <div class="container">
            <div class="row horiz-card">

              <div class="text-line-height-sm text-center no-padding" >
                <div class="item-center" ><%= image_tag match.user.image.url, class:'item-center', size:"70x70" %></div>
                <div class="item-center" ><a href="<%= dater_path(match)%>" class="primary-btn-modified btn-sm login-button no-padding">View</a></div>
              </div>

              <div class="horiz-card-col-2 text-line-height-sm" >
                <h5 class="card-title "><%= match.f_name %></h5>
                <p class="">Age: <%= match.f_name %></p>
                <p class="">Location: <%= match.trait.zip %></p>
                <p class="">Gender: <%= match.trait.gender %></p>
                <p class="">Orientation: <%= match.trait.orientation %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end  %>
  </div>

<% end %>
</div>
