<div class="dashboard-header">
  <h2>The Pool!</h2>


<div class="card-columns">
    <% @daters.each do |dater| %>
    <div class="card" id="horiz-card-outer">
      <div class="card-body">
        <div class="container">
          <div class="row horiz-card">

            <div class="text-line-height-sm text-center no-padding" >
              <div class="item-center" ><%= image_tag dater.user.image.url, class:'item-center', size:"70x70" %></div>
              <div class="item-center" ><a href="<%= dater_path(dater)%>" class="primary-btn-modified btn-sm login-button no-padding">View</a></div>
            </div>

            <div class="horiz-card-col-2 text-line-height-sm" >
              <h5 class="card-title "><%= dater.f_name %></h5>
              <p class="">Age: <%= dater.f_name %></p>
              <p class="">Location: <%= dater.trait.zip %></p>
              <p class="">Gender: <%= dater.trait.gender %></p>
              <p class="">Orientation: <%= dater.trait.orientation %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end  %>
</div>



</div>


<script>
$("#horiz-card-outer").click(function(event) {

  fetch(`https://pytdating-live.herokuapp.com/api/v1/pool?${matchParams}`)
  .then((response) => console.log(response))
})

</script>
