<div class="dashboard-header">
  <h2 class="text-accent"><%= @dater.f_name %>'s Profile</h2>


  <div class="card card-no-lines text-center">
      <div class="">
        <a href="#" class="primary-btn btn-sm login-button add-me-button" id="<%= @params %>">Add To Pool</a><a href="#" class="primary-btn btn-sm login-button">Message Me</a>
      </div>

      <div class="card-body item-center">
        <h5 class="card-title"><%= @dater.f_name %></h5>
        <div class="item-center" ><%= image_tag @dater.user.image.url, class:'', size:"250x250" %></div>
      </div>

      <div class="card-group">
        <div class="card">
          <div class="card-body">
            <p class="card-text text-left">Age: <%=  %></p>
            <p class="card-text text-left">Location: <%= @dater.trait.zip %></p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
           <p class="card-text text-left">Gender: <%= @dater.trait.gender %></p>
           <p class="card-text text-left">Orientation: <%= @dater.trait.orientation %></p>
          </div>
        </div>
      </div>

      <!-- <div class="card-group">
        <div class="card">
          <div class="card-body item-center">
              <a href="#" class="primary-btn btn-sm login-button"></a>
          </div>
        </div>
        <div class="card">
          <div class="card-body item-center">
             <a href="#" class="primary-btn btn-sm login-button">View</a>
          </div>
        </div>
      </div> -->

      <div class="text-muted"><br></div>
</div>
<div class="card card-no-lines" style="width=100%">

<br>
<h2 class="text-accent">About <%= @dater.f_name %></h2>
<br>
<div class="text-center text-navy"><h3> <%= @dater.f_name%>'s Life N Stuff </h3></div>
<br>
<div class="card-deck">

  <div class="card">
    <div class="card-body trait-col-width">
      <h5 class="card-title">Physical</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Height: <%= @dater.trait.height/12.round %>' <%=@dater.trait.height%12 %>"</li>
        <li class="list-group-item">Build: <%= @dater.trait.body_type.humanize %></li>
        <li class="list-group-item">Smoker: <%= @dater.trait.smoker %></li>
        <li class="list-group-item">Drinking: <%= @dater.trait.alcohol %></li>
        <!-- <li class="list-group-item">Ethnicity: <%= @dater.trait.ethnicity %></li> -->
      </ul>
    </div>
    </div>
    <div class="card">
    <div class="card-body trait-col-width">
      <h5 class="card-title">Personal</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Education: <%= @dater.trait.education %></li>
        <li class="list-group-item">Occupation: <%= @dater.trait.occupation %></li>
        <li class="list-group-item">Beliefs: <%= @dater.trait.religion %></li>
        <li class="list-group-item">How important are their beliefs: <%= @dater.trait.religiosity %></li>
        <li class="list-group-item">Political Leaning: <%= @dater.trait.political_leaning.humanize %></li>
        <li class="list-group-item">How important are their politics: <%= @dater.trait.politicalness %></li>
      </ul>
    </div>
    </div>
    <div class="card">
    <div class="card-body trait-col-width">
      <h5 class="card-title">Family</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Has Kids: <%= @dater.trait.has_kids %></li>
        <li class="list-group-item">Wants (more) Kids: <%= @dater.trait.wants_kids %></li>
        <li class="list-group-item">Has pets: <%= @dater.trait.has_pets %></li>
      </ul>
    </div>
    </div>
  </div>
</div>

<br>
<div class="text-center text-navy"><h3>  <%= @dater.f_name%>'s Personality </h3></div>
<br>



  <div class="card-deck">
    <div class="card card-no-lines profile-card trait-col-width">
        <table class="table table-striped">
          <thead>
            <tr class="text-navy">
                <th scope="col">Personality Trait</th>
                <th scope="col">Average</th>
            </tr>
          </thead>
          <tbody>
            <tr>
               <td>  Independent: </td>
               <td>  <%= @dater.avg_personality(@dater.id, "independent") %></td>
            </tr>
            <tr>
               <td> Friendly: </td>
               <td> <%= @dater.avg_personality(@dater.id, "friendly") %></td>
            </tr>
            <tr>
               <td> Shy: </td>
               <td> <%= @dater.avg_personality(@dater.id, "shy") %></td>
            </tr>
            <tr>
               <td> Spontaneous: </td>
               <td> <%= @dater.avg_personality(@dater.id, "spontaneous") %></td>
            </tr>
            <tr>
               <td> Organized: </td>
               <td> <%= @dater.avg_personality(@dater.id, "organized") %></td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="card card-no-lines profile-card trait-col-width">
        <table class="table table-striped">
          <thead>
            <tr class="text-navy">
                <th scope="col">Persronality Trait</th>
                <th scope="col">Average</th>
            </tr>
          </thead>
          <tbody>
            <tr>
               <td> Funny: </td>
               <td> <%= @dater.avg_personality(@dater.id, "funny") %></td>
            </tr>
            <tr>
               <td> Silly: </td>
               <td> <%= @dater.avg_personality(@dater.id, "silly") %></td>
            </tr>
            <tr>
               <td> Adaptable: </td>
               <td> <%= @dater.avg_personality(@dater.id, "adaptable") %></td>
            </tr>
            <tr>
               <td> Confident: </td>
               <td> <%= @dater.avg_personality(@dater.id, "confident") %></td>
            </tr>
            <tr>
               <td> Energetic: </td>
               <td> <%= @dater.avg_personality(@dater.id, "energetic") %></td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="card card-no-lines profile-card trait-col-width">
        <table class="table table-striped">
          <thead>
            <tr class="text-navy">
                <th scope="col">Persronality Trait</th>
                <th scope="col">Average</th>
            </tr>
          </thead>
          <tbody>
            <tr>
               <td> Relaxed: </td>
               <td><%= @dater.avg_personality(@dater.id, "relaxed") %></td>
            </tr>
            <tr>
               <td> Patient: </td>
               <td><%= @dater.avg_personality(@dater.id, "patient") %> </td>
            </tr>
            <tr>
               <td> Logical: </td>
               <td> <%= @dater.avg_personality(@dater.id, "logical") %></td>
            </tr>
            <tr>
               <td> Intelligent: </td>
               <td> <%= @dater.avg_personality(@dater.id, "intelligent") %></td>
            </tr>
            <tr>
               <td> Charitable: </td>
               <td> <%= @dater.avg_personality(@dater.id, "charitable") %></td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>



<br>
<div class="text-center text-navy"><h3> <%= @dater.f_name %>'s Pictures </h3></div>
<br>


<br>
<div class="text-center text-navy"><h3> What <%= @dater.f_name %>'s Backers say</h3></div>
<br>
<!-- Things Backers Say-->




</div>
</div>

<script>

$(".add-me-button").click(function(event) {
  event.preventDefault()
  matchParams = event.currentTarget.id
  fetch(`https://pytdating-live.herokuapp.com/api/v1/pool?${matchParams}`)
  .then((response) => console.log(response))
})
</script>
