<div class="">

  <div class="card bg-landing-gradient landing-cards">
    <div class="card-body">

    <div class = 'pyt-title col-md-7'  >
      <h1 class="text-white text-center">Petition Your Tribe </h1>
      <h4 class="text-white slogan text-center">It takes a village to find love. <br></h4>
    </div>

    <div class = 'pyt-signup-outer'>
      <div class = 'pyt-signup col-md-5'>
        <button id="home-button" class="primary-btn btn-sm login-button"><span ><%= link_to "Find Love for a Friend", "/auth/google_oauth2"  %></span></button> <br>
        <h4 class="text-white text-center "></h4>
      </div>
      <div class = 'pyt-signup col-md-5'>
          <button id="home-button" class="primary-btn btn-sm login-button"><span ><%= link_to "Find Love for Yourself", "/auth/google_oauth2"  %></span></button> <br>
        <h4 class="text-white text-center "></h4>
      </div>
    </div>

    </div>
  </div>


  <div class="card background-black PYT-bl-height">
    <div class="card-group text-total-center">

      <div class="card card-home-tribe">
        <div class="">
          <h3 class="text-white text-center">Petition Your Tribe.</h3>
        </div>
      </div>
      <div class="card card-home-tribe">
        <div class="">
          <h3 class="text-white text-center">Promote Your Tribe.</h3>
        </div>
      </div>
      <div class="card card-home-tribe">
        <div class="">
          <h3 class="text-white text-center">Protect Your Tribe.</h3>
        </div>
      </div>

    </div>
  </div>

<div class="card landing-cards">
  <div class="card-body">
    <div class="">
      <h2 class="text-navy text-center">PYT Dating isn't just another Dating App. </h2>
      <h3 class="text-navy text-center"> It's a more Authentic Way of Dating Online</h3>
      <br>
      <p class="">Sometimes your friends and family know you better than you know yourself, so why not get their help when it comes to building the most important relationship in your life?
      <br>
      <br>
      You can rate your own personality traits and share details about yourself with any dating site. The difference with PYT is your Tribe.
      <br>
      <br>
      Get your friends and family to sign up as one of your "Backers" so that they can share stories, thoughts, and pictures of you. They can even suggest matches for you that you may have overlooked!
    </p>
    <br>
    <h3 class="text-center item-center">Here's how it works for Daters:</h3>
      <div class="card-group item-center card-home-padding">
        <div class="card item-center card-home-icons">
          <%= image_tag("icon1.jpg", class: "card-body-center-landing", alt: "icon one", size: "150x150") %>
          <div class="card-body">
            <h5 class="card-title">Create your Account</h5>
            <p class="card-text">Sign up as a Dater! (or a backer -- you can back your friends and family too.)</p>
          </div>
        </div>

        <div class="card card-home-icons">
          <%= image_tag("icon2.jpg", class: "", alt: "icon one", size: "150x150") %>
          <div class="card-body">
            <h5 class="card-title">Invite your Backers</h5>
            <p class="card-text">As a Dater, invite your friends and family to share snazzy stuff about you.  </p>
          </div>
        </div>

        <div class="card card-home-icons">
          <%= image_tag("icon3.jpg", class: "", alt: "icon one", size: "150x150") %>
          <div class="card-body">
            <h5 class="card-title">Complete your Profile</h5>
            <p class="card-text">Take a picture, rate your personality traits, and set up your preferences so that potential matches can get to know you. </p>
          </div>
        </div>
      </div>

      <div class="card-group item-center ">
        <div class="card card-home-icons">
          <%= image_tag("icon4.jpg", class: "", alt: "icon one", size: "150x150") %>
          <div class="card-body">
            <h5 class="card-title">Involve your Framily</h5>
            <p class="card-text">Get your Backers to upload pictures and share stories or thoughts about you. They can browse matches and add people to your Dating Pool</p>
          </div>
        </div>

        <div class="card card-home-icons">
          <%= image_tag("icon5.jpg", class: "", alt: "icon one", size: "150x150") %>
          <div class="card-body">
            <h5 class="card-title">Find your Match!</h5>
            <p class="card-text">Browse the Pool yourself and look through the matches your Framily suggested.  You're just a few clicks away from Love!</p>
          </div>
        </div>
        </div> <!-- "" empty container-->
        <br>
        <br>
        <br>
        <br>
      </div>  <!-- card-group (icons) -->
    </div> <!-- card-body -->
  </div>  <!--card landing-cards -->


</div> <!-- -->
</div> <!-- -->

<!-- -->
<!-- -->





<script>
$(window).load(function() {
  $(".main").toggleClass("no-page-padding")
});
</script>
